body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d3dedc;
}
.border-form {
    border: none;
    border-radius: 8px;
}

.feed {
    flex: 5.5;
}

.feedWrapper {
    padding: 20px;
}

.navbar-custom {
    height: 80px;
    background-color: #07281e;
}
