body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d3dedc;
}
.border-form {
    border: none;
    border-radius: 8px;
}

.feed {
    flex: 5.5;
}

.feedWrapper {
    padding: 20px;
}

.navbar-custom {
    height: 80px;
    background-color: #07281e;
}

.dropdown-toggle::after {
    content: none;
}

.friend-list {
    margin: 0;
    padding: 0;
}

ul.friend-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul.friend-list li:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

ul.friend-list .friend-Profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

ul.friend-list li {
    padding: 10px;
}

.friend-Name{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.friend-Number{
    font-size: 11px;
    color: #6c757d;
    margin: 0;
}

